[Unit]
Description=Trigger scroll backups

[Timer]
OnCalendar=*-*-* 00:00:00
OnCalendar=*-*-* 04:00:00
OnCalendar=*-*-* 08:00:00
OnCalendar=*-*-* 12:00:00
OnCalendar=*-*-* 16:00:00
OnCalendar=*-*-* 20:00:00
Persistent=true

[Install]
WantedBy=timers.target
